body {
    display: flex; 
    flex-direction: column;
    align-items: center; /*horizontal centering*/
    justify-content: center; /*vertical centering*/
    height: 100vh
}

.buttons {
    flex-direction: row;
}

#cat-gif {
    width: 300px;
    height: auto;
    margin-bottom: 30px;
    border-radius: 20px;
    
    /* Crop the top of the image */
    object-fit: cover;
    object-position: center bottom;  /* Shows bottom portion, cuts top */
    height: 250px;  /* Set a fixed height */
}

/*Alternative
body {
    display: grid; 
    place-items: center;
    height: 100vh;
    margin: 0;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/
